* {
    margin: 0;
    padding: 0;
}

.chatbox {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 10px;
}

.chat-content {
    overflow-y: scroll;
    height: 600px;
}

.chat-header {
    border-radius: 10px;
}

.buddy-message {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}

.buddy-message-content {
    background: lightblue;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    flex: 1 0 0;
    align-items: center;
    display: flex;
}

.user-input {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
    gap: 5px;
    justify-content: center;
}

.buddy-chat-profile-pic {
    width: 50px;
    height: auto;
}

.chat-header {
    background: #DF7861;
    color: #FCF8E8;
}

button {
    background: #94B49F;
    color: #FCF8E8;
    border: none;
}

.config {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 10px;
    background: #DF7861;
    color: #FCF8E8;
}

.config p {
    margin: 0;
}

#config-frequency, #config-endHour, #config-endMinute {
    font-weight: bold;
    color: blueviolet;
}