* {
    margin: 0;
    padding: 0;
}

.chatbox {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 20px 10px;
}

.chat-content {
    overflow-y: scroll;
    height: 600px;
    padding: 20px;
}

.chat-header, .config {
    border-radius: 10px;
    padding: 10px;
    background: #DF7861;
    color: #FCF8E8;
}

.chat-header p {
    margin-bottom: 0;
}

.buddy-message {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}

.buddy-message-content {
    background: lightblue;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
    flex: 1 0 0;
    align-items: center;
    display: flex;
}

.user-input {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
    gap: 5px;
    justify-content: center;
}

.buddy-chat-profile-pic {
    width: 50px;
    height: auto;
}

button {
    background: #94B49F;
    color: #FCF8E8;
    border: none;
    margin-bottom: 0;
}

.config {
    margin: 20px 10px;
}

.config p {
    margin: 0;
}

#config-frequency, #config-end-hour, #config-end-minute, #config-end-session {
    font-weight: bold;
    color: black;
}

select {
    padding: 0;
    height: 1.5em;
    border: none;
    background: rgb(253, 249, 249);
}

.notif {
    background: rgb(236, 236, 236);
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
    color: lightslategray;
    border-radius: 5px;
    margin: 5px 0;
}